build
.settings
.project
.classpath
.gradle
gwt-unitCache
classes
bin
gen
target
.DS_Store
/org.nibiru.mobile.demo.client.gwt/src/main/webapp/demo
/org.nibiru.mobile.demo.client.gwt/src/main/webapp/WEB-INF/deploy
/org.nibiru.mobile.demo.client.gwt/src/main/webapp/WEB-INF/lib
/org.nibiru.mobile.demo.client.gwt/war
.idea
/**/*.iml
/**/gradle/
gradlew
gradlew.bat
local.properties
.apt_generated
